# File Storage (AWS S3)
S3_ACCESS_KEY_ID=your_aws_access_key
S3_SECRET_ACCESS_KEY=your_aws_secret_key
S3_REGION=your_aws_region
S3_BUCKET=your_bucket_name

# Cloudfront (AWS CDN)
CLOUDFRONT_URL=https://d33aluc0l6cahu.cloudfront.net

# Rate Limiting (Upstash Redis)
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token

# App Encryption
CLIENT_URL="http://localhost:3000"    

